@use "./variables" as var;

// ========================
// Hero Slider
// ========================
.heroSliderWrapper {
  position: relative;
  margin-bottom: 20px;
  padding: 0 16px;

  & * {
    transition: all linear 1s;
  }

  &.boxed {
    max-width: 1272px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .swiper {
      border-radius: 10px;
    }
  }

  .swiper-slide {
    height: 400px;
    width: 100%;
    position: relative;
    transition: all linear 1s;

    @media (max-width: 1260px) {
      aspect-ratio: 390/108;
      height: auto;
    }
    @media (max-width: 576px) {
      aspect-ratio: 2/1;
      height: auto;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0deg, #000000ab, transparent);
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .nav-btn-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: calc(100% + 30px);
    max-width: 1272px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    @media (max-width: 1260px) {
      display: none;
    }
  }

  .custom-prev,
  .custom-next {
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 21px 6px 0px rgba(0, 0, 0, 0%),
      0px 13px 5px 0px rgba(0, 0, 0, 1%), 0px 7px 4px 0px rgba(0, 0, 0, 5%),
      0px 3px 3px 0px rgba(0, 0, 0, 9%), 0px 1px 2px 0px rgba(0, 0, 0, 10%);

    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.33301 11.6667L5.99967 8.33333L9.33301 5' stroke='%23404040' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      display: block;
      height: 16px;
      width: 16px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:disabled {
      background-color: var(--slate-200);
      opacity: 0.7;
    }

    &:hover {
      background-color: var(--slate-300);
    }
  }

  .custom-next {
    rotate: 180deg;
  }
}

// ========================
// Hero Section Content
// ========================
.hero-sec {
  background: linear-gradient(
    180deg,
    color-mix(in srgb, var(--color-primary-300), transparent 90%) 0%,
    rgba(255, 255, 255, 0%) 100%
  );

  .hero-content {
    .tag-line {
      color: var(--text-700);
      font-style: italic;
      padding-left: 10px;
      border-left: 2px solid var(--slate-300);
    }

    .store-meta {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-flow: column;
      gap: 12px;

      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        margin: 0;
        color: var(--text-700);

        svg {
          stroke: var(--color-primary-500);
          height: 18px;
          width: 18px;
          min-height: 18px;
          min-width: 18px;
        }
      }
    }
  }
}

// ========================
// Discount Coupon
// ========================
.coupon-share-wrap {
  display: flex;
  align-items: flex-end;
  flex-flow: column;

  .discount-coupon-wrap {
    max-width: 315px;

    .swiper-pagination {
      position: unset;

      .swiper-pagination-bullet {
        height: 6px;
        width: 6px;
        min-height: 6px;
        min-width: 6px;
        background-color: var(--slate-400);
        border: 2px solid transparent;

        &.swiper-pagination-bullet-active {
          background-color: var(--slate-500);
          border: 2px solid var(--slate-500);
        }
      }
    }
  }

  @media (max-width: 768px) {
    align-items: center;
  }
}

.discount-coupon-card {
  padding: 12px 20px;
  border: 1px solid var(--color-primary-200);
  border-radius: 20px;
  background-color: var(--white);
  max-width: 300px;
  width: 100%;
  overflow: hidden;

  small {
    font-size: 12px;
    line-height: 17px;
    color: var(--text-500);
  }

  svg {
    fill: var(--color-primary-500);
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
  }

  .divider {
    width: 100%;
    border-top: 1px dashed var(--color-primary-200);
    margin: 10px 0 14px 0;
    position: relative;

    &::after,
    &::before {
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      min-height: 20px;
      min-width: 20px;
      border-radius: 50rem;
      border-top: 1px solid var(--color-primary-200);
      border-right: 1px solid var(--color-primary-200);
      rotate: 49deg;
      position: absolute;
      left: -28px;
      top: -10px;
      //   transform: translateY(-50%);
      background-color: var(--body-color);
    }

    &::after {
      left: unset;
      right: -28px;
      rotate: 225deg;
    }
  }

  .offer-meta {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    gap: 9px;
    padding: 6px 10px;
    border: 1px solid var(--slate-300);
    border-radius: 50px;

    li {
      margin: 0;
      font-size: 12px;
      line-height: 17px;
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--text-600);

      &::after {
        content: "";
        display: block;
        height: 8px;
        width: 8px;
        min-height: 8px;
        min-width: 8px;
        border-radius: 50%;
        background-color: var(--slate-400);
        outline: 1px solid var(--slate-400);
        border: 1px solid var(--white);
      }

      &:last-child {
        margin: 0;
        padding: 0;

        &::after {
          display: none;
        }
      }
    }
  }

  @media (max-width: 576px) {
    max-width: 290px;
    padding: 12px 16px;
  }
}

// ========================
// Linear CTA
// ========================
.linear-cta-wrap {
  padding: 16px 12px;
  border-radius: 8px;
  background-color: var(--color-primary-700);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  padding-right: 50px;
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  p {
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  .ctm-btn {
    border: 1px solid var(--color-primary-400);
  }

  .close-btn {
    position: absolute;
    right: 12px;
    top: 19px;
    background-color: transparent;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 20px;
      width: 20px;
    }

    &:hover {
      background-color: var(--color-primary-600);

      svg {
        rotate: 90deg;
      }
    }
  }

  &.fade-in {
    opacity: 1;
  }

  &.fade-out {
    opacity: 0;
  }

  @media (max-width: 768px) {
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 16px;

    .ctm-btn {
      font-size: 12px;
      padding: 6px 12px;
    }

    .close-btn {
      height: 24px;
      width: 24px;
      min-height: 24px;
      min-width: 24px;
      border-radius: 50%;
      box-shadow: 0px 21px 6px 0px rgba(0, 0, 0, 0%),
        0px 13px 5px 0px rgba(0, 0, 0, 1%), 0px 7px 4px 0px rgba(0, 0, 0, 5%),
        0px 3px 3px 0px rgba(0, 0, 0, 9%), 0px 1px 2px 0px rgba(0, 0, 0, 10%);
      position: absolute;
      top: -10px;
      right: -10px;
      z-index: 10;
      background-color: var(--white);
      svg {
        stroke: var(--slate-700);
      }
    }
  }
}

// =========================
// Product categories
// =========================
.product-cat-wrap {
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
    gap: 10px;

    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }

    li {
      margin: 0;

      label {
        padding: 8px 16px;
        border: 1px solid var(--text-200);
        background: var(--slate-100);
        border-radius: 8px;
        color: var(--text-700);
        font-size: 14px;
        line-height: 18px;
        cursor: pointer;
        white-space: pre;

        &:hover {
          background: var(--slate-200);
        }
      }

      input[type="radio"] {
        display: none;
        opacity: 0;

        &:checked {
          & + label {
            box-shadow: 0px 13px 4px 0px rgba(0, 0, 0, 0%),
              0px 8px 3px 0px rgba(0, 0, 0, 1%),
              0px 5px 3px 0px rgba(0, 0, 0, 5%),
              0px 2px 2px 0px rgba(0, 0, 0, 9%),
              0px 1px 1px 0px rgba(0, 0, 0, 10%);
            border: 1px solid var(--color-primary-400);
            background-color: var(--body-color);
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    ul {
      padding-bottom: 12px;
      li {
        label {
          padding: 6px 10px;
          font-size: 13px;
          line-height: 18px;
        }
      }
    }
  }
}

// ============================
// Bestsellers Section
// ============================
.bestsellers-sec {
  padding: 20px;
  background-color: color-mix(
    in srgb,
    var(--color-primary-300),
    transparent 90%
  );
  border-radius: 12px;
  border: 1px dashed var(--color-primary-300);
  margin-bottom: 30px;

  .best-seller-next,
  .best-seller-prev {
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
    background-color: var(--slate-700);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 21px 6px 0px rgba(0, 0, 0, 0%),
      0px 13px 5px 0px rgba(0, 0, 0, 1%), 0px 7px 4px 0px rgba(0, 0, 0, 5%),
      0px 3px 3px 0px rgba(0, 0, 0, 9%), 0px 1px 2px 0px rgba(0, 0, 0, 10%);

    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.33301 11.6667L5.99967 8.33333L9.33301 5' stroke='%23fff' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      display: block;
      height: 16px;
      width: 16px;
      min-height: 16px;
      min-width: 16px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:disabled {
      background-color: var(--slate-200);
      opacity: 0.7;
    }

    &:hover {
      background-color: var(--slate-600);
    }

    &.best-seller-next {
      &::after {
        rotate: 180deg;
      }
    }
  }

  @media (max-width: 576px) {
    padding: 20px 16px;

    h2 {
      font-size: 18px;
    }
    .best-seller-next,
    .best-seller-prev {
      height: 25px;
      width: 25px;
      min-height: 25px;
      min-width: 25px;
    }
  }
}

// =============================
// Product Group Section
// =============================
.product-grp-sec {
  .product-list-wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px 20px;
    margin-bottom: 30px;
    @media (max-width: 991px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 678px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px 10px;
    }
    &.list {
      grid-template-columns: repeat(2, 1fr);

      @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

// =============================
// Go To Cart
// =============================
.go-to-cart-wrap {
  padding: 14px;
  background-color: #009966;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 340px;
  width: 100%;
  box-shadow: 0px 83px 23px 0px rgba(0, 0, 0, 0%),
    0px 53px 21px 0px rgba(0, 0, 0, 1%), 0px 30px 18px 0px rgba(0, 0, 0, 5%),
    0px 13px 13px 0px rgba(0, 0, 0, 9%), 0px 3px 7px 0px rgba(0, 0, 0, 10%);

  span {
    color: #fff;
    font-weight: 600;
    display: block;
    font-size: 15px;
    line-height: 18px;
  }

  small {
    color: #fff;
    font-weight: 400;
  }

  .ctm-btn {
    padding: 8px 12px;
    background-color: #fff;
    box-shadow: 0px 22px 6px 0px rgba(0, 0, 0, 0%),
      0px 14px 6px 0px rgba(0, 0, 0, 1%), 0px 8px 5px 0px rgba(0, 0, 0, 5%),
      0px 4px 4px 0px rgba(0, 0, 0, 9%), 0px 1px 2px 0px rgba(0, 0, 0, 10%);
    line-height: 15px;
    font-weight: 600;
    border: 2px solid #007a55;
    color: var(--slate-900);

    svg,
    img {
      height: 18px;
      width: 18px;
      stroke: var(--slate-900);
    }
  }
}

// ===========================
// FAQs Section
// ===========================
.faq-sec {
  background-color: var(--slate-100);
  padding: 60px 0;

  .accordion-item {
    margin-bottom: 16px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid var(--slate-200);
    background-color: var(--white);

    &:last-child {
      margin-bottom: 0;
    }

    .accordion-button {
      padding: 18px 20px;
      font-size: 16px;
      color: var(--text-900);
      line-height: 22px;
      font-weight: 500;
      border: none;
      box-shadow: none;
      background-color: transparent;

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_372_446)'%3E%3Cpath d='M5 7L9.5 11.5L14 7' stroke='%23737373' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_372_446'%3E%3Crect width='18' height='18' fill='white' transform='matrix(1 0 0 -1 0 18.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }

    .accordion-collapse {
      margin: 0 20px;
      border: none;
      border-top: 1px solid var(--slate-300);
      background-color: transparent;

      p {
        padding: 18px 0;
        margin: 0;
        font-size: 14px;
        line-height: 24px;
        color: var(--text-700);
      }
    }
  }
  @media (max-width: 576px) {
    padding: 40px 0;
    .accordion-item {
      .accordion-button {
        padding: 12px 14px;
        font-size: 14px;
      }
      .accordion-collapse {
        margin: 0 16px;
        p {
          padding: 10px 0;
        }
      }
    }
  }
}

[data-theme="dark"] {
  .faq-sec {
    .accordion-item {
      background-color: var(--slate-900);
      border-color: var(--slate-600);

      .accordion-button {
        &::after {
          border-color: var(--text-900);
          background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_372_446)'%3E%3Cpath d='M5 7L9.5 11.5L14 7' stroke='%23fff' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_372_446'%3E%3Crect width='18' height='18' fill='white' transform='matrix(1 0 0 -1 0 18.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}

// ===========================
// Modal
// ===========================
.modal {
  &.slide-to-left {
    .modal-dialog {
      transform: translateX(100%);
      transition: transform 0.6s ease-in-out;
      height: 100vh;
      max-width: 670px;
      width: 100%;
      background-color: transparent;
      padding: 20px;
      margin: 0 0 0 auto;

      .modal-content {
        background-color: var(--white);
        border-radius: 10px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px;

        .modal-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0;
          padding-bottom: 20px;
          border-bottom: 1px solid var(--slate-200);

          h3 {
            margin: 0;
            padding: 0;
          }

          button {
            position: absolute;
            right: 12px;
            top: 19px;
            background-color: transparent;
            padding: 6px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              height: 20px;
              width: 20px;
            }

            &:hover {
              background-color: var(--slate-200);

              svg {
                rotate: 90deg;
              }
            }
          }
        }
      }
    }

    &.show {
      .modal-dialog {
        transform: translateX(0);
      }
    }
  }
}

// ===========================
// Open Hours Modal
// ===========================
.open-hours-modal {
  padding: 20px 16px;
  position: relative;
  background-color: var(--white);
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  .close-btn {
    position: absolute;
    background-color: var(--white);
    z-index: 100;
    top: -23px;
    right: -23px;
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 18px;
    span {
      padding: 4px 8px;
      border-radius: 100px;
      font-size: 10px;
      line-height: 14px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      &.open {
        background: linear-gradient(180deg, #00bc7d 0%, #004f3b 100%);
      }
      &.close {
        background: linear-gradient(180deg, #ff6467 0%, #82181a 100%);
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      padding: 5px 10px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 6px;
      &.open {
        background-color: var(--emerald-600);
        color: var(--emerald-200);
        span {
          color: #fff;
        }
      }
      &.close {
        background-color: var(--slate-100);
        color: var(--text-500);
        span {
          color: var(--text-500);
        }
      }
      i {
        font-size: inherit;
        color: inherit;
      }
      span {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: var(--text-700);

        &:first-child {
          width: 80px;
        }
      }
    }
  }

  @media (max-width: 576px) {
    padding: 16px;
    .close-btn {
      right: -4px;
      box-shadow: 0px 21px 6px 0px rgba(0, 0, 0, 0),
        0px 13px 5px 0px rgba(0, 0, 0, 0.01),
        0px 7px 4px 0px rgba(0, 0, 0, 0.05), 0px 3px 3px 0px rgba(0, 0, 0, 0.09),
        0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    }
    ul {
      li {
        i {
          display: none;
        }
      }
    }
  }
}

// ===========================
// Product Details Modal
// ===========================
.product-details-modal {
  .product-details-body {
    background-color: var(--white);
    border-radius: 12px;
    max-width: 762px;
    width: 100%;
    padding: 16px 18px;
    position: relative;

    .close-btn {
      position: absolute;
      background-color: var(--white);
      z-index: 100;
      top: -23px;
      right: -23px;
      height: 30px;
      width: 30px;
      min-height: 30px;
      min-width: 30px;
      border-radius: 50%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .inner {
      display: flex;
      gap: 20px;
      .prodImg {
        flex: 1;
        aspect-ratio: 1/1;
        max-width: 350px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        border: 1px solid var(--slate-300);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        .tag {
          position: absolute;
          top: 10px;
          left: 10px;
          padding: 4px 8px;
          border-radius: 100px;
          font-size: 10px;
          line-height: 14px;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 1px;
          background: linear-gradient(180deg, #00bc7d 0%, #004f3b 100%);
        }
      }
      .prodDetail {
        flex: 1;
        position: relative;
        display: flex;
        flex-flow: column;
        max-height: 350px;
        .prod-info {
          flex-grow: 2;
          overflow-y: auto;
          padding-right: 5px;
          &::-webkit-scrollbar {
            width: 1px;
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background: var(--color-primary-500);
            cursor: pointer;
          }
          h3 {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 8px;
          }
          p {
            font-size: 14px;
            line-height: 22px;
            color: var(--slate-700);
          }
        }
        .prod-meta {
          position: sticky;
          top: 100%;
          left: 0;
          right: 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          padding-top: 16px;
          border-top: 1px solid var(--slate-200);
          .price-wrap {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 6px;
            font-size: 18px;
            font-weight: 700;
            color: var(--text-900);
            s {
              font-size: 16px;
              font-weight: 500;
              color: var(--text-500);
            }
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    .product-details-body {
      padding: 16px;
      .close-btn {
        right: 0px;
        top: -35px;
      }
      .inner {
        display: flex;
        flex-flow: column;

        .prodImg {
          margin: 0 auto;
          max-width: 100%;
          border-radius: 8px 8px 0 0;
        }
      }
    }
    .modal-dialog-centered {
      align-items: flex-end;
      // height: 100vh;
      margin: 0;
    }
  }
}

// ===========================
// CheckOut Page
// ===========================
.checkout-page {
  background-color: var(--slate-100);
  min-height: 100vh;
}

// ===========================
// Checkout services
// ===========================
.multi-option-select-wrap {
  display: flex;
  flex-flow: column;
  gap: 12px;

  .card {
    padding: 10px 16px;
    border: 1px solid var(--slate-300);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
    gap: 16px;
    cursor: pointer;
    background-color: var(--white);

    .check-icon {
      height: 18px;
      width: 18px;
      min-height: 18px;
      min-width: 18px;
      border: 1px solid var(--slate-300);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 10px;
        width: 10px;
        stroke-width: 5px;
        stroke: #fff;
      }
    }

    .icon {
      height: 44px;
      width: 44px;
      min-height: 44px;
      min-width: 44px;
      display: flex;
      align-items: center;
      justify-content: center;

      img,
      svg {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    p {
      font-size: 16px;
      color: var(--text-900);
      margin-bottom: 5px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        font-size: 12px;
        line-height: 18px;
        color: var(--text-700);
      }
    }
  }

  input[type="radio"] {
    display: none;
    opacity: 0;

    &:checked {
      & + .card {
        border: 1px solid var(--slate-900);
        box-shadow: 0px 30px 8px 0px rgba(0, 0, 0, 0%),
          0px 1px 3px 0px rgba(0, 0, 0, 10%);

        .check-icon {
          background-color: var(--slate-900);
          border-color: var(--slate-900);
        }
      }
    }
  }

  @media (max-width: 576px) {
    .card {
      align-items: center;
      justify-content: space-between;
      gap: 6px;
    }
  }
}

[data-theme="dark"] {
  .multi-option-select-wrap {
    .card {
      background-color: var(--slate-900);
      border: 1px solid var(--slate-600);

      .check-icon {
        border: 1px solid var(--slate-600);

        svg {
          stroke: var(--slate-900);
        }
      }
    }

    input[type="radio"] {
      display: none;
      opacity: 0;

      &:checked {
        & + .card {
          border: 1px solid var(--slate-500);

          .check-icon {
            background-color: var(--slate-500);
            border-color: var(--slate-500);
          }
        }
      }
    }
  }
}

// ==============================
// Cart Product Card
// ==============================
.cart-product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--slate-200);
  padding-bottom: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  .prod-img {
    height: 60px;
    width: 60px;
    min-height: 60px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: 10px;
      line-height: 14px;
      padding: 4px 8px;
      border: 1px solid var(--slate-300);
      color: var(--text-700);
      border-radius: 6px;
      text-transform: uppercase;
      letter-spacing: 0.6px;
    }
  }

  .prod-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    border: 1px solid var(--slate-200);
    border-radius: 6px;

    button {
      background-color: transparent;
      padding: 0;
      margin: 0;
      height: 18px;
      width: 18px;
      min-height: 18px;
      min-width: 18px;
      font-size: 16px;
      line-height: 16px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: var(--slate-200);
      }
    }

    input {
      width: 30px;
      text-align: center;
      background-color: transparent;
      color: var(--text-900);
    }
  }

  .delete-btn {
    background-color: transparent;
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;

    &:hover {
      background-color: #ffeeef;
    }

    svg {
      stroke: #ff6467;
    }
  }

  @media (max-width: 576px) {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
