@font-face {
  font-family: "Mona Sans";
  src: url("../../fonts/MonaSans-Light.eot");
  src: url("../../fonts/MonaSans-Light.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/MonaSans-Light.woff2") format("woff2"),
    url("../../fonts/MonaSans-Light.woff") format("woff"),
    url("../../fonts/MonaSans-Light.ttf") format("truetype"),
    url("../../fonts/MonaSans-Light.svg#MonaSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("../../fonts/MonaSans-Black.eot");
  src: url("../../fonts/MonaSans-Black.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/MonaSans-Black.woff2") format("woff2"),
    url("../../fonts/MonaSans-Black.woff") format("woff"),
    url("../../fonts/MonaSans-Black.ttf") format("truetype"),
    url("../../fonts/MonaSans-Black.svg#MonaSans-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("../../fonts/MonaSans-ExtraBold.eot");
  src: url("../../fonts/MonaSans-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/MonaSans-ExtraBold.woff2") format("woff2"),
    url("../../fonts/MonaSans-ExtraBold.woff") format("woff"),
    url("../../fonts/MonaSans-ExtraBold.ttf") format("truetype"),
    url("../../fonts/MonaSans-ExtraBold.svg#MonaSans-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("../../fonts/MonaSans-Medium.eot");
  src: url("../../fonts/MonaSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/MonaSans-Medium.woff2") format("woff2"),
    url("../../fonts/MonaSans-Medium.woff") format("woff"),
    url("../../fonts/MonaSans-Medium.ttf") format("truetype"),
    url("../../fonts/MonaSans-Medium.svg#MonaSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("../../fonts/MonaSans-Bold.eot");
  src: url("../../fonts/MonaSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/MonaSans-Bold.woff2") format("woff2"),
    url("../../fonts/MonaSans-Bold.woff") format("woff"),
    url("../../fonts/MonaSans-Bold.ttf") format("truetype"),
    url("../../fonts/MonaSans-Bold.svg#MonaSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("../../fonts/MonaSans-Regular.eot");
  src: url("../../fonts/MonaSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/MonaSans-Regular.woff2") format("woff2"),
    url("../../fonts/MonaSans-Regular.woff") format("woff"),
    url("../../fonts/MonaSans-Regular.ttf") format("truetype"),
    url("../../fonts/MonaSans-Regular.svg#MonaSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans";
  src: url("../../fonts/MonaSans-SemiBold.eot");
  src: url("../../fonts/MonaSans-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/MonaSans-SemiBold.woff2") format("woff2"),
    url("../../fonts/MonaSans-SemiBold.woff") format("woff"),
    url("../../fonts/MonaSans-SemiBold.ttf") format("truetype"),
    url("../../fonts/MonaSans-SemiBold.svg#MonaSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
