// =========================
// Global Styles
// =========================
@use "./variables" as var;

// =========================
// Container Styles
// =========================
.container {
  max-width: 1272px;
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
}

.container-sm {
  max-width: 1050px;
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
}

.container-xsm {
  max-width: 640px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.container-lf {
  padding-left: calc((100vw - 1272px) / 2);

  @media (max-width: 1272px) {
    padding: 0 1rem;
  }
}

.section-space {
  margin-bottom: 50px !important;
}

// ===========================
// Card
// ===========================
.card {
  background-color: var(--white);
  border: 1px solid var(--slate-300);
  border-radius: 10px;
}

[data-theme="dark"] {
  .card {
    background-color: var(--slate-900);
    border-color: var(--slate-700);
  }
}

// ===========================
// Divider Title (Center, Left, Right)
// ===========================
.divider-title {
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.35026 0.269325C6.59436 0.0118386 7.13526 -0.0764314 7.55809 0.0721412C7.98095 0.220828 8.12602 0.550234 7.88188 0.807767L2.26732 6.73063C2.02319 6.98815 1.48234 7.07647 1.05949 6.92782C0.636659 6.77914 0.491627 6.44972 0.7357 6.19219L6.35026 0.269325Z' fill='%23737373'/%3E%3C/svg%3E%0A");
  background-repeat: repeat-x;
  background-position: center;
  background-size: 8px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
  min-height: 8px;

  span {
    color: var(--text-700);
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 0 20px;
    background-color: var(--body-color);
    line-height: 17px;
  }

  &.left {
    justify-content: flex-start;

    span {
      padding-left: 0;
    }
  }

  &.right {
    justify-content: flex-end;

    span {
      padding-right: 0;
    }
  }
}

// Hr (line Divider)
hr {
  width: 100%;
  height: 0px;
  border-top: 1px solid var(--slate-600);

  &.dashed {
    border-style: dashed;
  }
}

// ===========================
// Search Bar
// ===========================
.search-bar {
  padding: 11px 14px;
  background-color: var(--slate-100);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;

  &::before {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.41667 11.0833C8.99399 11.0833 11.0833 8.99399 11.0833 6.41667C11.0833 3.83934 8.99399 1.75 6.41667 1.75C3.83934 1.75 1.75 3.83934 1.75 6.41667C1.75 8.99399 3.83934 11.0833 6.41667 11.0833Z' stroke='%23404040' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.6488 12.6488L10.1113 10.1113' stroke='%23404040' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    height: 14px;
    width: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
  }

  input {
    flex-grow: 2;
    font-size: 14px;
    background-color: transparent;

    &::placeholder {
      color: var(--text-700);
    }
  }
}

[data-theme="dark"] {
  .search-bar {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.41667 11.0833C8.99399 11.0833 11.0833 8.99399 11.0833 6.41667C11.0833 3.83934 8.99399 1.75 6.41667 1.75C3.83934 1.75 1.75 3.83934 1.75 6.41667C1.75 8.99399 3.83934 11.0833 6.41667 11.0833Z' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.6488 12.6488L10.1113 10.1113' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }
}

// ===========================
// Product Card (Grid View)
// ===========================
.product-grid {
  &.outofstock {
    opacity: 0.5;
  }

  .prod-img {
    width: 100%;
    aspect-ratio: 4 / 5;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid var(--slate-300);
    cursor: pointer;

    &.square {
      aspect-ratio: 2 / 2;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .prod-content {
    padding-top: 10px;

    .prod-name {
      font-size: 14px;
      font-weight: 600;
      color: var(--text-900);
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      margin-bottom: 5px;
    }

    .prod-price {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 6px;
      margin-bottom: 10px;

      span {
        font-size: 16px;
        font-weight: 600;
        color: var(--text-900);
        line-height: 23px;
      }

      s {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-500);
        line-height: 23px;
      }
    }

    .cart-btn {
      background-color: var(--slate-900);
      border-color: var(--slate-900);
      color: var(--white);
      padding: 7px 20px;
      min-width: 100px;
    }

    .out-stock-btn {
      background-color: var(--slate-300);
      border-color: var(--slate-300);
      color: var(--text-700);
      padding: 7px 20px;
      min-width: 100px;
      font-size: 11px;
      user-select: none;
      cursor: not-allowed;
    }
  }
}

[data-theme="dark"] {
  .product-grid {
    .cart-btn {
      background-color: var(--color-primary-300) !important;
      border-color: var(--color-primary-300) !important;
      color: var(--text-900) !important;
    }
  }
}

// ===========================
// Product Card (list View)
// ===========================
.product-list {
  display: flex;
  align-items: center;
  gap: 16px;

  &.outofstock {
    opacity: 0.5;
  }

  .prod-img {
    width: 100%;
    max-width: 140px;
    aspect-ratio: 4 / 5;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid var(--slate-300);
    cursor: pointer;

    &.square {
      aspect-ratio: 2 / 2;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .prod-content {
    padding-top: 10px;

    .prod-name {
      font-size: 14px;
      font-weight: 600;
      color: var(--text-900);
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      margin-bottom: 5px;
    }

    .prod-price {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 6px;
      margin-bottom: 8px;

      span {
        font-size: 16px;
        font-weight: 600;
        color: var(--text-900);
        line-height: 23px;
      }

      s {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-500);
        line-height: 23px;
      }
    }

    .desc {
      font-size: 14px;
      line-height: 18px;
      color: var(--text-700);
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .cart-btn {
    background-color: var(--slate-900);
    border-color: var(--slate-900);
    color: var(--white);
    padding: 7px 20px;
    min-width: 100px;
  }

  .out-stock-btn {
    background-color: var(--slate-300);
    border-color: var(--slate-300);
    color: var(--text-700);
    padding: 7px 20px;
    min-width: 100px;
    font-size: 11px;
    user-select: none;
    cursor: not-allowed;
  }
}

[data-theme="dark"] {
  .product-list {
    .cart-btn {
      background-color: var(--color-primary-300) !important;
      border-color: var(--color-primary-300) !important;
      color: var(--text-900) !important;
    }
  }
}

// ===========================
// Social Links
// ===========================
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 20px;

  a {
    display: block;
    margin: 0;
    padding: 0;

    svg {
      height: 20px;
      width: 20px;
      stroke: var(--slate-700);
      scale: 1;
    }

    &:hover {
      svg {
        stroke: var(--color-primary-500);
        scale: 1.2;
      }
    }
  }
}

[data-theme="dark"] {
  .social-links {
    a {
      svg {
        stroke: var(--slate-400);
      }
    }
  }
}

// =================================
// Text Editor Typography & style reset
// =================================
.ctm-editor {
  font-family: var(--body-font-family);
  color: #222;
  line-height: 1.6;

  .trumbowyg-box {
    .trumbowyg-editor {
      height: 300px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 1rem;
    color: #111;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #444;
  }

  ol {
    margin: 1rem 0;
    padding-left: 2rem;
    list-style: decimal;
  }

  ul {
    margin: 1rem 0;
    padding-left: 2rem;
    list-style: disc;
  }

  li {
    margin-bottom: 0.5rem;
  }

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    border-left: 4px solid #ccc;
    padding-left: 1rem;
    color: #666;
    font-style: italic;
    margin: 1.5rem 0;
  }

  code {
    background: #f4f4f4;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-family: monospace;
    font-size: 0.95rem;
  }

  br {
    display: block;
    margin-bottom: 0.5rem;
    content: "";
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }
}

// =================================
// Custom File Uploader
// =================================
.file-upload {
  border: 2px dashed var(--slate-300);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
  background: var(--slate-50);

  &:hover {
    border-color: var(--slate-700);
  }

  .file-label {
    display: inline-block;
    cursor: pointer;

    .file-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 8px 16px;
      border: 1px solid var(--slate-300);
      border-radius: 6px;
      background: var(--white);
      font-size: 14px;
      font-weight: 500;
      transition: background 0.2s;
      box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 5%);

      &:hover {
        border-color: var(--slate-600);
      }
    }
  }

  .file-text {
    margin: 12px 0 4px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-700);
  }

  .file-info {
    font-size: 12px;
    color: var(--text-500);
  }
}

// =================================
// Notices
// =================================
.notic {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  border: 1px solid var(--slate-400);
  background-color: var(--slate-50);
  padding: 12px 10px;
  border-radius: 8px;

  img,
  svg {
    height: 22px;
    width: 22px;
    min-height: 22px;
    min-width: 22px;
  }

  &.warning {
    background-color: var(--amber-50);
    border-color: var(--amber-600);

    img,
    svg {
      stroke: var(--amber-600);
    }

    p {
      color: var(--slate-700);
    }
  }
}

// ===========================
// Product Counter
// ===========================
.action-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--slate-900);
  border-radius: 6px;
  background-color: var(--white);
  padding: 6px 14px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  min-width: 80px;
  height: 36px;
  transition: all 0.3s ease;
  background-color: var(--text-900);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 6%);

  &.show-counter {
    background-color: var(--white);
    border: 1px solid var(--slate-200);
  }

  .btn-label {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    color: var(--white);
    padding: 0 12px;
    font-size: 14px;
  }

  .counter-ui {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    transform: scale(0.7);
    transition: all 0.3s ease;

    button {
      background-color: transparent;
      border: none;
      height: 20px;
      width: 20px;
      font-size: 16px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: var(--slate-200);
      }
    }

    input {
      width: 30px;
      text-align: center;
      background-color: transparent;
      border: none;
      color: var(--text-900);
    }
  }

  &.show-counter {
    padding: 6px 10px;
    min-width: 100px;

    .btn-label {
      opacity: 0;
      transform: scale(0);
      display: none;
    }

    .counter-ui {
      opacity: 1;
      position: relative;
      pointer-events: auto;
      transform: scale(1);
    }
  }
}

// =================================
// Global Color Classes
// =================================
.bg-dark {
  background-color: var(--slate-900);
}

.light-text {
  color: var(--text-500) !important;
}

.green-text {
  color: var(--emerald-600) !important;
}

.red-text {
  color: var(--red-600) !important;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.cursor-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(197, 0, 0, 0.6);
  display: block;
}

.cursor-icon {
  font-size: 20px;
  color: white;
}

.cursor-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
