@use "./variables" as *;

// =========================
// Reset and base styles
// =========================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--p-size);
  line-height: var(--p-lh);
  font-family: var(--body-font-family);
  transition: var(--transition-animate);
  color: var(--text-950);
  border: none;
  outline: none;
  scroll-behavior: smooth;
  user-select: none;

  // Global components scrollbar styles
  &::-webkit-scrollbar {
    width: 3px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--slate-200);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-primary-500);
  }
}

// =========================
// Body &
// =========================

body {
  background: var(--body-color);
  overflow-x: hidden;
  min-height: 100vh;

  // Modal overlay
  &:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: var(--transition-animate);
    visibility: hidden;
    opacity: 0;
  }

  @media (max-width: 1199px) {
    &.overly {
      overflow: hidden;

      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// =========================
// Typography
// =========================
.h1,
h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-lh);
}

.h2,
h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-lh);
}

.h3,
h3 {
  font-size: var(--h3-size);
  line-height: var(--h3-lh);
}

.h4,
h4 {
  font-size: var(--h4-size);
  line-height: var(--h4-lh);
}

.h5,
h5 {
  font-size: var(--h5-size);
  line-height: var(--h5-lh);
}

.h6,
h6 {
  font-size: var(--h6-size);
  line-height: var(--h6-lh);
}

.p,
p {
  font-size: var(--p-size);
  line-height: var(--p-lh);
}

.li,
li {
  font-size: var(--p-size);
  line-height: var(--p-lh);
}

.span,
span {
  font-size: var(--p-size);
  line-height: var(--p-lh);
}

.a,
a {
  font-size: var(--p-size);
  line-height: var(--p-lh);
}

.small,
small {
  font-size: var(--small-size);
  line-height: var(--small-lh);
}

// ==========================
// Button Style
// ==========================
.ctm-btn {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--color-primary-500);
  background-color: var(--color-primary-500);
  color: var(--white);
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  white-space: nowrap;
  svg,
  img {
    height: 22px;
    width: 22px;
    object-fit: contain;
    object-position: center;
  }

  &:hover {
    opacity: 0.7;
  }

  &.white-btn {
    border: 1px solid var(--slate-200);
    background-color: transparent;
    color: var(--text-950);
  }
}
