// ================================
// Theme variables & Light Theme Color
// ================================
:root {
  --body-color: #fff;

  /* Fonts settings */
  --body-font-family: "Mona Sans", sans-serif;
  --heading-font-family: "Mona Sans", sans-serif;

  /* Text Colors */
  --text-50: #f8fafc;
  --text-100: #f1f5f9;
  --text-200: #e2e8f0;
  --text-300: #cad5e2;
  --text-400: #90a1b9;
  --text-500: #62748e;
  --text-600: #45556c;
  --text-700: #314158;
  --text-800: #1d293d;
  --text-900: #0f172b;
  --text-950: #020618;

  /* Neutral Color */
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a1a1a1;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;

  /* Slate Color  */
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cad5e2;
  --slate-400: #90a1b9;
  --slate-500: #62748e;
  --slate-600: #45556c;
  --slate-700: #314158;
  --slate-800: #1d293d;
  --slate-900: #0f172b;
  --slate-950: #020618;

  /* emerald */
  --emerald-50: #ecfdf5;
  --emerald-100: #d0fae5;
  --emerald-200: #a4f4cf;
  --emerald-300: #5ee9b5;
  --emerald-400: #00d492;
  --emerald-500: #00bc7d;
  --emerald-600: #009966;
  --emerald-700: #007a55;
  --emerald-800: #006045;
  --emerald-900: #004f3b;
  --emerald-950: #002c22;

  /* Red */
  --red-50: #fef2f2;
  --red-100: #ffe2e2;
  --red-200: #ffc9c9;
  --red-300: #ffa2a2;
  --red-400: #ff6467;
  --red-500: #fb2c36;
  --red-600: #e7000b;
  --red-700: #c10007;
  --red-800: #9f0712;
  --red-900: #82181a;
  --red-950: #460809;

  /* amber */
  --amber-50: #fffbeb;
  --amber-100: #fef3c6;
  --amber-200: #fee685;
  --amber-300: #ffd230;
  --amber-400: #ffb900;
  --amber-500: #fe9a00;
  --amber-600: #e17100;
  --amber-700: #bb4d00;
  --amber-800: #973c00;
  --amber-900: #7b3306;
  --amber-950: #461901;

  /* Other colors */
  --white: #fff;

  /* Layout variables */
  --admin-sidebar-width: 270px;
  --admin-header-height: 68px;

  /* Transition */
  --transition-animate: all linear 0.4s;
  --transition-speed: 0.4s;

  /* Typography - Font Sizes */
  --h1-size: clamp(24px, calc(24px + 1.11vw), 32px);
  --h2-size: clamp(22px, calc(22px + 0.28vw), 24px);
  --h3-size: clamp(20px, calc(20px + 0.28vw), 22px);
  --h4-size: clamp(18px, calc(18px + 0.28vw), 20px);
  --h5-size: clamp(16px, calc(16px + 0.28vw), 18px);
  --h6-size: 16px;
  --p-size: clamp(14px, calc(14px + 0.83vw), 16px);
  --small-size: 14px;

  /* Typography - Line height */
  --h1-lh: clamp(1.2, calc(1.2 + 0.03vw), 1.4);
  --h2-lh: clamp(1.25, calc(1.25 + 0.014vw), 1.35);
  --h3-lh: clamp(1.3, calc(1.3 + 0.014vw), 1.4);
  --h4-lh: clamp(1.3, calc(1.3 + 0.014vw), 1.4);
  --h5-lh: clamp(1.3, calc(1.3 + 0.014vw), 1.4);
  --h6-lh: 1.3;
  --p-lh: clamp(1.5, calc(1.5 + 0.014vw), 1.6);
  --small-lh: 1.4;
}

// ================================
// Dark Theme Color
// ================================
[data-theme="dark"] {
  --body-color: #0f172b;
  --white: #1d293d;

  /* Text Colors */
  --text-50: #f8fafc;
  --text-100: #f1f5f9;
  --text-200: #e2e8f0;
  --text-300: #cad5e2;
  --text-400: #90a1b9;
  --text-500: #90a1b9;
  --text-600: #90a1b9;
  --text-700: #cad5e2;
  --text-800: #e2e8f0;
  --text-900: #f1f5f9;
  --text-950: #f8fafc;

  /* Slate Color  */
  --slate-50: #1d293d;
  --slate-100: #1d293d;
  --slate-200: #314158;
  --slate-300: #cad5e2;
  --slate-400: #90a1b9;
  --slate-500: #62748e;
  --slate-600: #45556c;
  --slate-700: #314158;
  --slate-800: #1d293d;
  --slate-900: #0f172b;
  --slate-950: #020618;
}
